<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/association">Association</a></li>
        <li><a href="/grounds">Grounds</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/documents">Documents</a></li>
    </ul>
    <p>
    </u>Upcoming Events</u>
    <br><font color="red"></font>
    </p>Questions?</br>
    <a href="/downloads/argyle_hoa_architectural_change_request_0303.doc">Architectural Change Form</a></br></p>
    <a href="mailto:argylevillagehoa@gmail.com">Contact HOA</a></p>
    </p>Quick Links</br>
    <a href="https://portal.dhbader.com" target="_blank">D.H. Bader</a></br>
    <a href="https://www.bandbrefuseinc.com/" target="_blank">Trash</a></br>
    <a href="https://www.montgomerycountymd.gov/DEP/trash-recycling/index.html" target="_blank">Recycling</a>
</nav>